/*
BG: #0C141F
SB: #1F2833
Gray: #C5C6C7
Primary: #6FC3DF
Secondary: #45A298
*/
body {
  font-family: 'Cairo';
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
  color: #ffe64d;
}
h3 {
  font-size: 1.5rem;
}
a {
  color: #df740c;
}
input {
  background-color: #1f2833 !important;
  color: #6fc3df !important;
}

img {
  filter: grayscale(50%) brightness(0.8);
}
img.rounded-circle {
  filter: none;
  border: 2px solid #6fc3df;
}

/* Header */
.navbar {
  background-color: #0c141f;
  color: #6fc3df !important;
}
.navbar-brand,
.footer-logo {
  font-weight: 700;
  font-size: 1.5rem;
}
.btn-main {
  background-color: #6fc3df !important;
  color: #0c141f !important;
}

/* Hero */
.hero {
  background-color: #1f2833;
}
.hero-post {
  position: relative;
}
.hero-post-badges {
  position: absolute;
  top: 10px;
  right: 10px;
}
.hero-post-badges > a {
  background-color: #0c141f;
  display: block;
  font-size: 0.8rem;
}
.hero-post-content {
  position: absolute;
  bottom: 10px;
  color: #6fc3df;
}

/* Main blog */
.blog-posts {
  background-color: #0c141f;
  color: #e6ffff;
}
.blog-post {
  background-color: #1f2833;
}
.blog-post img {
  width: 100%;
  height: 100%;
  margin-bottom: 1rem;
}
.blog-post p {
  font-size: 0.9rem;
}
.blog-post .col-sm-8 {
  border-left: 3px solid #6fc3df;
}
.badges {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.badges > a {
  margin-left: 0.5rem;
  margin: 0.2rem;
  padding: 0.5rem;
  background-color: #6fc3df60;
  color: #0c141f;
  display: inline-block;
}
.badges > a:hover {
  background-color: #6fc3df95;
  color: #0c141f;
}

/* aside */
.social-links {
  background-color: #6fc3df75;
  color: #0c141f;
  font-size: 2rem;
}
.social-link:hover {
  color: azure;
}
.secondary-color {
  background-color: #1f2833;
  color: #6fc3df;
}

.aside-heading {
  border-left: 3px solid #6fc3df;
}
.author {
  border-bottom: 1px dotted #6fc3df50;
}
.author p {
  font-size: 0.9rem;
}
.author-social-links a {
  margin-left: 0.8rem;
}

/* Footer section */
.footer {
  background-color: #1f2833;
  color: #e6ffff;
}
